.app {
  width: 700px;
  height: auto;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid var(--border);
  border-radius: 8px;
}

.title {
  text-align: center;
  color: var(--white);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
  margin: 20px 0;
}

.input {
  flex: 4;
  display: block;
  width: 100%;
  padding: 12px 16px;
  font-size: 17px;
  border: none;
  outline-color: var(--primary);
  border-radius: 6px;
}

.button {
  flex: 1;
  padding: 10px 17px;
  color: var(--primary);
  font-size: 20px;
  border: none;
  transition: all 0.4s ease;
  border-radius: 7px;
}

.button:active {
  transform: translateY(-15px);
}

.todoList {
  margin-top: 20px;
}

.todoItem {
  width: 100%;
  padding: 20px;
  color: var(--white);
  border: 1px solid var(--border);
  margin: 10px 0;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todoTitle {
  font-size: 18px;
  text-transform: uppercase;
}

.todoDelete button {
  padding: 5px 10px;
  background-color: var(--red);
  color: var(--white);
  font-size: 17px;
  font-weight: bolder;
  border: none;
}

.text {
  text-align: center;
  color: var(--white);
  font-size: 19px;
  margin: 15px 0;
  font-weight: 500;
}